{% if box.is_enabled %}
  <section
    class="content-section"
    {{ box.background_color and box.background_color != '#transparent' ? 'data-background=' ~ box.background_color }}
    {{ box.anchor_id ? 'id='~box.anchor_id }}
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="side-content left">
            {% partial 'boxes/parts/_title.htm' %}
          
            {{ box.text | content | raw }}
          </div>
          <div class="clearfix spacing-50"></div>
          {% partial 'boxes/parts/_info-items.htm' %}
        </div>

        <div class="col-lg-6">
          <figure class="side-image" data-scroll data-scroll-speed="1">
            <img src="{{ box.pic | media | resize(571, 690, {'mode': 'crop'}) }}" alt="{{ box.pic_title }}">
          </figure>
        </div>
      </div>
    </div>
  </section>
{% endif %}