<section class="content-section" {{ box.anchor_id ? 'id='~box.anchor_id }}>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          {% partial 'boxes/parts/_section-title.htm' %}
        </div>
        <div class="col-lg-8">
          <dl class="accordion">
            {% for item in box.accordion %}
              <dt><a href="#">{{ item.title }}</a></dt>
              <dd>{{ item.text | raw }}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
</section>