<section class="content-section" {{ box.anchor_id ? 'id='~box.anchor_id }}>
  <div class="container">

    {% for item in box.collections %}
      <div class="row g-0 align-items-center {{ loop.index is odd ? 'collection-row-odd' : 'collection-row-even' }}">
        <div class="col-lg-6">
          <div class="art-slider">
            <div class="titles">
              <h6>
                {{ item.eyebrow_title|raw }}
              </h6>
              <{{ item.title_level }}>
                {{ item.title | raw }}
              </{{ item.title_level }}>
            </div>
            <!-- end titles -->
            <div class="swiper-container art-slider-content">
              <div class="swiper-wrapper">
                {% for link in item.links %}
                  {% set resolvedLink = link(link.reference) %}

                  <div class="swiper-slide">
                    <span>{{ loop.index }}</span>
                    <h3>
                      <a href="{{ resolvedLink.url }}">
                        {{ resolvedLink.title }}
                      </a>
                    </h3>
                  </div>
                {% endfor %}   
              </div>
              <!-- end swiper-wrapper -->
            </div>
            <!-- end art-slider-content -->
          </div>
        </div>

        <div class="col-lg-6">
          <div class="art-slider" data-scroll data-scroll-speed="1">
            {# TO DO remove opacity when enable animations #}
            <div class="swiper-container art-slider-images" style="opacity: 1">
              <div class="swiper-wrapper">
                {# not 100% sure if there will be a slider #}
                <div class="swiper-slide">
                  <img src="{{ item.pic | media | resize(662, 450, {mode: 'crop'}) }}" alt="{{ item.pic_title }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</section>