<section class="content-section" {{ box.anchor_id ? 'id='~box.anchor_id }}>
  <div class="container">

    {% for item in box.collections %}
      <div class="row g-0 align-items-center {{ loop.index is odd ? 'collection-row-odd' : 'collection-row-even' }}">
        <div class="col-lg-6">
          <div class="art-slider">
            <div class="titles">
              <h6>
                {{ item.eyebrow_title|raw }}
              </h6>
              <{{ item.title_level }}>
                {{ item.title | raw }}
              </{{ item.title_level }}>
            </div>
            <!-- end titles -->
            <div class="art-slider-content">
              
                {% for link in item.links %}
                  {% set resolvedLink = link(link.reference) %}

                  <div class="art-slider-item">
                    <span>{{ loop.index }}</span>
                    <h3>
                      <a href="{{ resolvedLink.url }}">
                        {{ resolvedLink.title }}
                      </a>
                    </h3>
                  </div>
                {% endfor %}   
            
            </div>
            <!-- end art-slider-content -->
          </div>
        </div>

        <div class="col-lg-6">
          <div class="art-slider" data-scroll data-scroll-speed="1">
            {% for page in item.links %}
                <div class="page-thumb">
                  <img src="{{ page.pic | media | resize(662, 662, {mode: 'crop'}) }}" alt="{{ page.pic_title }}">
                </div>
            {% endfor %}
        </div>
      </div>
    {% endfor %}

  </div>
</section>