{% if box.is_enabled %}
  <section 
    class="
      content-section
      {{ box.no_bottom_spacing ? 'no-bottom-spacing' }}
      {{ box.margin_top ? 'mt-' ~ box.margin_top }}
      {{ box.margin_bottom ? 'mb-' ~ box.margin_bottom }}
    "
    {{ box.anchor_id ? 'id='~box.anchor_id }}
  >
    <div class="container">
      {% partial 'boxes/parts/_section-title.htm' %}

      {% if box.text %}
        {{ box.text | content | raw }}
      {% endif %}

      <div class="row">
        <div class="col-md-6">
          {% partial 'boxes/parts/_info-items.htm' %}
        </div>
        <div class="col-md-6">
          <div class="contact-form">
            {% partial 'genericForm/default' %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}