<section class="content-section">

  {% if box.background_image or box.background_color or box.background_video %}
    {% partial 'boxes/parts/_background.htm' %}
  {% endif %}

  <div class="container">
    <div class="cta-box" data-scroll data-scroll-speed="-1">
      
      <h6>
        {{ box.eyebrow_title | raw }}
      </h6>
      <{{ box.title_level }}>
        {{ box.title | raw }}
      </{{ box.title_level }}>

      {% partial 'boxes/parts/_button.htm' %}

    </div>
  </div>
</section>