{% if box.is_enabled %}
  {% set component = this.page.components[box.uniqueComponentAlias('eventList')] %}

  <section
    class="
      content-section
      {{ box.no_bottom_spacing ? 'no-bottom-spacing' }}
    "
    {{ box.anchor_id ? 'id='~box.anchor_id }}
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          {% partial 'boxes/parts/_section-title.htm' %}
        </div>
      </div>
      <div class="row justify-content-between">
        
        {% for event in component.events.take(box.count) %}
          {% partial 'event/list-item' event=event index=loop.index %}
        {% endfor %}

        <div class="col-12 text-center">
          {% partial 'boxes/parts/_button.htm' %}
        </div>

      </div>
    </div>
  </section>
{% endif %}