<section class="content-section">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9">
        <div class="section-title">
            <figure><img src="images/title-shape.png" alt="Image"></figure>
            <div class="eyebrow">
                DON’T MISS THE OPPORTUNITY
            </div>
            <h2>Upcoming Events</h2>
        </div>
        <!-- end section-title -->
        </div>
        <!-- end col-9 -->
        <div class="col-lg-3"> <a href="#" class="circle-button">BOOK AN <br>
        EVENT</a> </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
        <div class="exhibition-box" data-scroll data-scroll-speed="-1" >
            <figure> <a href="#"><img src="images/event01.jpg" alt="Image" class="img"></a>
            <div class="info">
                <figure class="i"><img src="images/icon-info.png" alt="Image"></figure>
                <span>50% off exhibitions</span> </div>
            <!-- end info -->
            </figure>
            <div class="content-box">
            <h4><a href="#">Artemisia Gentileschi
                talk with Maria</a></h4>
            <p> 15 August – 31 October 2020 </p>
            </div>
            <!-- end content-box -->
        </div>
        <!-- end exhibition-box -->
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 col-md-6">
        <div class="exhibition-box" data-scroll data-scroll-speed="1">
            <figure> <a href="#"><img src="images/event02.jpg" alt="Image" class="img"></a>
            <div class="info">
                <figure class="i"><img src="images/icon-info.png" alt="Image"></figure>
                <span>50% off exhibitions</span> </div>
            <!-- end info -->
            </figure>
            <div class="content-box">
            <h4><a href="#">Arctic culture and
                climate Exhibition</a></h4>
            <p> 22 Oct 2020 - 21 Feb 2023</p>
            </div>
            <!-- end content-box -->
        </div>
        <!-- end exhibition-box --> </div>
        <!-- end col-4 -->
        <div class="col-lg-4 col-md-6">
        <div class="exhibition-box" data-scroll data-scroll-speed="-0.5" >
            <figure> <a href="#"><img src="images/event03.jpg" alt="Image" class="img"></a>
            <div class="info">
                <figure class="i"><img src="images/icon-info.png" alt="Image"></figure>
                <span>50% off exhibitions</span> </div>
            <!-- end info -->
            </figure>
            <div class="content-box">
            <h4><a href="#">Thomas Becket murder and
                the making of a saint</a></h4>
            <p> 22 Apr 2023 - 22 Aug 2023</p>
            </div>
            <!-- end content-box -->
        </div>
        <!-- end exhibition-box --></div>
        <!-- end col-4 -->
        <div class="col-12 text-center"> <a href="#" class="custom-button -primary">VIEW ALL UPCOMING EVENTS</a> </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
    </div>
    <!-- end container -->
</section>