<section class="content-section" {#data-background="#fffbf7"  no-bottom-spacing bottom-white #}>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <{{ box.title_level }}>
            {{ box.title | raw }}
          </{{ box.title_level }}>
        </div>
      </div>

      {% for item in box.inspirations %}
        <div class="col-lg-4 col-md-6">
          <div class="text-content inspiration-card" data-scroll data-scroll-speed="-1">
            <figure class="image-box" data-scroll data-scroll-speed="0">
              {# TODO temp opacity - animations disabled #}
              <img src="{{ item.pic | media | resize(510, 382, {'mode': 'crop'}) }}" alt="{{ item.pic_title }}" style="opacity: 1">
            </figure>
            <h3 class="h5">
              {{ item.title | raw }}
            </h3>
            {{ item.text | raw }}
          </div>
        </div>
      {% endfor %}
    </div>
        
  </div>
</section>