<header class="slider">
   
  <div class="swiper-container slider-images">
    <div class="swiper-wrapper">
      {% for item in box.slides | filter(i=> not i.is_hidden) %}
        {% if item.fonts_color == 'light' %}
          <style>
            .swiper-slide-{{ loop.index }} {
              --slider-text-color: #ffffff;
            }
          </style>
        {% endif %}

        <div class="swiper-slide swiper-slide-{{ loop.index }} 
        {% if item.scope == 'mobile' %}_mobile{% elseif item.scope == 'desktop' %}_desktop{% endif %}">
          {% partial 'boxes/parts/_background.htm' box=item %}

          <div class="slider-texts -{{ item.title_position }}">
            <div class="container-fluid text-content">

              {% partial 'boxes/parts/_title.htm' box=item %}

              {{ item.text | raw }}

              {% partial 'boxes/parts/_button.htm' box=item %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
 
  <!-- play now button -->
  {#<div class="play-now"> <a href="videos/video.mp4" data-fancybox data-width="640" data-height="360"  class="play-btn"></a>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
      <defs>
        <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
      </defs>
      <circle cx="150" cy="100" r="75" fill="none"/>
      <g>
        <use xlink:href="#circlePath" fill="none"/>
        <text>
          <textPath xlink:href="#circlePath">PLAY NOW  - PLAY NOW - PLAY NOW -</textPath>
        </text>
      </g>
    </svg>
  </div>#}
   <div class="container-fluid slider-nav">
    <div class="swiper-pagination"></div>
    <div class="swiper-fraction"></div>
    <div class="button-prev"><i class="far fa-chevron-down"></i></div>
    <div class="button-next"><i class="far fa-chevron-up"></i></div>
  </div>
</header>
