<section class="content-section">
  <div class="container">

    <div class="row align-items-center section-title">
      <div class="col-auto">
        <{{ box.title_level }}>
          {{ box.title | raw }}
        </{{ box.title_level }}>
      </div>
      <div class="col-auto">
        <a href="#" class="circle-button">
          {{ 'See all<br> News' |_ }}
        </a>
      </div>
    </div>

    <div class="row align-center">
      {% for post in posts %}
        {% set url = 'blog/post'|page({ slug: post.slug, id: post.id }) %}

        <div class="col-lg-6 mb-4">
          <div class="news-box" data-scroll data-scroll-speed="-1">
            <figure>
              <a href="{{ url }}">
                {# TODO remove opacity 1 for animations #}
                <img src="{{ post.banner.path | resize(510, 382, {'mode': 'crop'}) }}" alt="{{ post.title }}" class="img" style="opacity: 1">
              </a>
            </figure>

            <div class="content-box">
              <p>
                <span class="date-label">
                  {{ post.published_at_date|date('j M Y') }}
                </span>
              </p> 
              <h3 class="h5">
                <a href="{{ url }}">
                  {{ post.title }}
                </a>
              </h3>
              {% if post.featured_text %}
                <p>{{ post.featured_text | raw }}</p>
              {% endif %}
              <p>
                <a href="{{ url }}" class="custom-link">
                  {{ 'Continue reading' |_ }}
                </a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>