{% if box.is_enabled %}

  {% set posts = [] %}
  {% for i in 1..4 %}
    {% if box['post_'~i] %}
      {% set posts = posts|merge([box['post_'~i]]) %}
    {% endif %}
  {% endfor %}

  <section class="content-section">
    <div class="container">

      <div class="row align-items-center section-title">
        <div class="col-auto">
          <{{ box.title_level }}>
            {{ box.title | raw }}
          </{{ box.title_level }}>
        </div>
        <div class="col-auto">
          <a href="{{ 'blog/index' | page }}" class="circle-button">
            {{ 'See all<br> News' |_ }}
          </a>
        </div>
      </div>

      {% partial 'blog/featured-list' posts=posts %}

    </div>
  </section>
{% endif %}