{% if box.is_enabled %}
  <section
    class="
      content-section
      {{ box.no_bottom_spacing ? 'no-bottom-spacing' }}
    "
    {{ box.anchor_id ? 'id='~box.anchor_id }}
  >
    <div class="text-block-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% partial 'boxes/parts/_section-title.htm' %}
          </div>
          
          <div class="col-12">
            {{ box.text | content | raw }}
          </div>
        </div>
      </div>	
    </div>
  </section>
{% endif %}