<section class="content-section" {{ box.anchor_id ? 'id='~box.anchor_id }}>

<div class="text-block-section" >
	<div class="container">
		<div class="row justify-content-center">
      		<div class="col-12">
        		<div class="section-title text-center">
          			<div class="eyebrow">
				    	{{ box.eyebrow_title | raw }}
				    </div>
				    <{{ box.title_level }}>
				    	{{ box.title | raw }}
				    </{{ box.title_level }}>
        		</div>
      		</div>
      		<div class="col-12 text-center">
				{{ box.block_text|raw }}
			</div>
		</div>
	</div>	
</div>
</section>