description = "Default layout"

[genericForm]
messages_success = "Your  newsletter subscribe was successfully submitted"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_subject = "new subscribe to newsletter"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
<!DOCTYPE html>
<html>
    <head>
        <title>{{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        {% partial 'components/head-meta' %}
        {% partial 'components/head-styles' %}
    </head>
    {# remove page-loaded for animations #}
    <body class="page-loaded {{ 'page-'~this.page.title }}">

        {#<div class="preloader" id="preloader">
            <svg viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1">
                <path d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"></path>
            </svg>
            <div class="inner">
                <canvas class="progress-bar" id="progress-bar" width="200" height="200"></canvas>
                <figure><img src="images/preloader.png" alt="Image"></figure>
                <small>Loading</small> </div>
            <!-- end inner -->
        </div>

        
        <div class="page-transition">
        <svg viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1">
            <path d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"></path>
        </svg>
        </div>#}
        <!-- end page-transition -->
        

        {#% partial 'components/flash-messages' %#}

        <div class="smooth-scroll">
            <div class="section-wrapper" {#data-scroll-section#}>
                {% partial 'components/header' %}

                {% page %}
            </div>
        </div>

        {% partial 'components/footer' %}

        {% partial 'components/scripts' %}
    </body>
</html>