description = "Default layout"

[sitePicker]

[section mainMenu]
handle = "Site\Menus"
identifier = "slug"
value = "top-menu"

[genericForm]
group = "newsletter"
rules[email] = "required|email"
messages_success = "Your  newsletter subscribe was successfully submitted"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_subject = "new subscribe to newsletter"
reset_form = 0
inline_errors = "display"
js_on_success = "new bootstrap.Modal(document.getElementById('newsletter-thankyou')).show();"
js_on_error = "new bootstrap.Modal(document.getElementById('newsletter-thankyou')).show();"
allowed_fields[] = "email"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
{% if mainMenu.items.count %}
  {% set menuItems = mainMenu.items.toNested | filter(i => not i.is_hidden) %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        {% partial 'components/head-meta' %}
        {% partial 'components/head-styles' %}
    </head>

    <body class="page-{{ this.page.title|slug }} page-loaded">

        {#<div class="preloader" id="preloader">
            <svg viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1">
                <path d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"></path>
            </svg>
            <div class="inner">
                <canvas class="progress-bar" id="progress-bar" width="200" height="200"></canvas>
                <figure>
                    <img src="{{'assets/images/preloader.png' | theme }}" alt="Image">
                </figure>
                <small>{{ 'Loading' |_ }}</small>
            </div>
            <!-- end inner -->
        </div>        
        <div class="page-transition">
        <svg viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1">
            <path d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"></path>
        </svg>
        </div>#}

        {#% partial 'components/flash-messages' %#}

        {% partial 'components/aside' menuItems=menuItems %}

        <div class="smooth-scroll">
            <div class="section-wrapper" {#data-scroll-section#}>
                {% partial 'components/header' menuItems=menuItems %}
                {% page %}
            </div>
            {% partial 'components/footer' %}
        </div>


        {% partial 'components/scripts' %}
    </body>
</html>