<aside class="side-widget -nav">
  <svg class="animated-overlay" viewBox="0 0 600 1080" preserveAspectRatio="none" version="1.1">
    <path d="M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"></path>
  </svg>

  <figure class="logo">
    <img src="{{ app_logo }}" alt="{{ app_name }}" width="150">
  </figure>
  <div class="inner">
    <div class="widget">
        <figure>
          <img src="{{ swordbrosSettings.welcome_image ? swordbrosSettings.welcome_image | media : 'assets/images/image07.jpg'|theme }}" alt="Image">
        </figure>
        {{ swordbrosSettings.panel_intro | raw }}
    </div>
    
    <div class="widget">
      <h6 class="widget-title">
        {{ 'Opening Hours'|_ }}
      </h6>
      <p>
        {% for item in swordbrosSettings.working_hours %}
          {{ item.week_days }}: {{ item.time }}
          {{ not loop.last ? '<br>'|raw }}
        {% endfor %}
      </p>
    </div>    
  </div>
  <div class="display-mobile">
    <div class="custom-menu">
      <ul>
        {% for site in sitePicker.sites %}
          <li>
            <a href="{{ site.url }}">
              {{ site.name }}
            </a>
          </li>
        {% endfor %}        
      </ul>
    </div>

    {% if menuItems is not empty %}
    <div class="site-menu accordion" id="accordionMenu">
        <ul class="nav flex-column">
            {% for item in menuItems %}
                {% if item.children.count %}
                  <li class="nav-item">
                    <div class="accordion-header" id="heading{{ loop.index }}">
                      <div 
                          class="accordion-title {% if not item.children.count %}collapsed{% endif %}" 
                          data-bs-toggle="collapse" 
                          data-bs-target="#collapse{{ loop.index }}" 
                          aria-expanded="false" 
                          aria-controls="collapse{{ loop.index }}"
                      >
                          {{ item.title }}
                      </div>
                    </div>
                    <div 
                      id="collapse{{ loop.index }}" 
                      class="accordion-collapse collapse" 
                      aria-labelledby="heading{{ loop.index }}" 
                      data-bs-parent="#accordionMenu"
                    >
                      <ul class="accordion-body nav flex-column">
                        {% for child in item.children | filter(i => not i.is_hidden) %}
                            <li class="nav-item">
                                <a
                                    class="nav-link {% if link(child.reference).isActive %}active{% endif %}" 
                                    href="{{ child.reference | link }}"
                                    {% if child.is_external %}target="_blank"{% endif %}
                                >
                                    - {{ child.title }}
                                </a>
                            </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item"> 
                    <a href="{{ item.reference | link }}">{{ item.title }}</a>
                  </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
  </div>
</aside>