<aside class="side-widget -nav">
  <svg class="animated-overlay" viewBox="0 0 600 1080" preserveAspectRatio="none" version="1.1">
    <path d="M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"></path>
  </svg>

  <figure class="logo">
    <img src="{{ app_logo }}" alt="{{ app_name }}">
  </figure>
  <div class="inner">
    <div class="widget">
        <figure>
          <img src="{{ swordbrosSettings.welcome_image ? swordbrosSettings.welcome_image | media : 'assets/images/image07.jpg'|theme }}" alt="Image">
        </figure>
        {{ swordbrosSettings.panel_intro | raw }}
    </div>
    
    <div class="widget">
        <h6 class="widget-title">
          {{ 'Opening Hours'|_ }}
        </h6>
        <p>
          {% for item in swordbrosSettings.working_hours %}
            {{ item.week_days }}: {{ item.time }}
            {{ not loop.last ? '<br>'|raw }}
          {% endfor %}
        </p>
    </div>
  </div>
  <div class="display-mobile">
    <div class="custom-menu">
      <ul>
        {% for site in sitePicker.sites %}
          <li>
            <a href="{{ site.url }}">
              {{ site.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if menuItems is not empty  %}
      <div class="site-menu">
        <ul>
          {% for item in menuItems %}
            <li>
              <a href="{{ item.reference | link }}">
                {{ item.title }}
              </a>

              {% if item.children.count %}
                <ul class="menu-level-2">
                  {% for child in item.children | filter(i => not i.is_hidden) %}
                    <li>
                      <a
                      class="{{ link(child.reference).isActive ? 'active' }}"
                      href="{{ child.reference|link }}"
                      {{ child.is_external ? 'target="_blank" '}}
                      >
                        - {{ child.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}   
        </ul>
      </div>
    {% endif %}    
  </div>
</aside>