[section aboutFooterMenu]
handle = "Site\Menus"
identifier = "slug"
value = "about-footer"
==
{% if aboutFooterMenu.items.count %}
  {% set aboutMenuItems = aboutFooterMenu.items | filter(i => not i.is_hidden) %}
{% endif %}

<footer class="footer bg-light">
  {% partial 'components/subscribe' %}
  <div class="container">
    <div class="row">

      {% if aboutMenuItems is not empty  %}
        <div class="col-lg-4 col-md-6">
          <h6 class="widget-title">
            {{ 'About Museum' |_ }}
          </h6>
          <ul class="footer-menu">
            {% for item in aboutMenuItems %}
              <li>
                <a href="{{ item.reference|link }}">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      
      <div class="col-lg-4 col-md-6">
        <h6 class="widget-title">
          {{ 'Connect Us' |_ }}
        </h6>
        <ul class="social-media">
         {# whatsapp? #}
          {% if swordbrosSettings.social_x %}
            <li>
              <a href="{{ swordbrosSettings.social_x }}">
                <i class="fab fa-twitter-x"></i>
                / insperabodrum
              </a>
            </li>
          {% endif %}
          {% if swordbrosSettings.social_likedin %}
            <li>
              <a href="{{ swordbrosSettings.social_likedin }}">
                <i class="fab fa-linkedin"></i>
                / insperabodrum
              </a>
            </li>
          {% endif %}
          {% if swordbrosSettings.social_instagram %}
            <li>
              <a href="{{ swordbrosSettings.social_instagram }}">
                <i class="fab fa-instagram"></i>
                / insperabodrum
              </a>
            </li>
          {% endif %}
          {% if swordbrosSettings.social_facebook %}
            <li>
              <a href="{{ swordbrosSettings.social_facebook }}">
                <i class="fab fa-facebook-f"></i>
                / insperabodrum
              </a>
            </li>
          {% endif %}
          {% if swordbrosSettings.social_youtube %}
            <li>
              <a href="{{ swordbrosSettings.social_youtube }}">
                <i class="fab fa-youtube"></i>
                / insperabodrum
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-lg-4">
        <h6 class="widget-title">
          {{ 'Visit Us Now' |_ }}
        </h6>
        <address class="address">
          {{ swordbrosSettings.address }}
        </address>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container text-center">
      <span class="copyright">
        © {{ 'now'|date('Y') }} /inspera | {{ 'Art & History Museum'|_}}
      </span>
    </div>
  </div>
</footer>