<footer class="footer">
<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-6">
    <h6 class="widget-title">About Museum</h6>
    <ul class="footer-menu">
        <li><a href="#">About us </a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">National work</a></li>
        <li><a href="#">International work</a></li>
    </ul>
    </div>
    <!-- end col-4 -->
    <div class="col-lg-4 col-md-6">
    <h6 class="widget-title">Connect Us</h6>
    <ul class="social-media">
        <li><a href="#"><i class="fab fa-facebook-f"></i> /wandau-uk</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i> /wandau-museum</a></li>
        <li><a href="#"><i class="fab fa-youtube"></i> /wandau-tv</a></li>
    </ul>
    </div>
    <!-- end col-4 -->
    <div class="col-lg-4">
    <h6 class="widget-title">Visit Us Now</h6>
    <address class="address">
    Cromwell Road New Town SW7 <strong>London - England</strong> <i class="fas fa-info-circle"></i> +44 (0)20 7942 2000
    </address>
    </div>
    <!-- end col-4 -->
</div>
<!-- end row -->
</div>
<!-- end container -->
<div class="footer-bottom">
<div class="container"> <span class="copyright">© 2023 Wandau | Art & History Museum</span> <span class="creation">Site created by <a href="#">themezinho</a></span> </div>
<!-- end container -->
</div>
<!-- end footer-bottom -->
</footer>
<!-- end footer -->