<nav class="navbar">

  <div class="logo">
    <a href="{{ app_url }}">
      <img src="{{ app_logo }}" alt="{{ app_name }}">
    </a>
  </div>

  <div class="custom-menu">

    <ul>
      {% for site in sitePicker.sites %}
        <li>
          <a href="{{ site.url }}" class="{{ this.site.code == site.code ? 'active' }}">
            {{ site.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
  {% if menuItems is not empty  %}
    <div class="site-menu">
      <ul>
        {% for item in menuItems %}

          <li class="nav-item {{ item.children.count ? 'dropdown' }}">
            <a href="{{ item.reference | link }}" class="{{ item.children.count ? 'dropdown-link' }}">
              <span class="{{ item.children.count ? 'dropdown-toggle' }}">
                {{ item.title }}
              </span>
            </a>

            {% if item.children.count %}
              <ul class="dropdown-menu">
                {% for child in item.children | filter(i => not i.is_hidden) %}
                  <li>
                    <a
                    class="
                      dropdown-item 
                      {{ link(child.reference).isActive ? 'active' }}                  
                    "
                    href="{{ child.reference|link }}"
                    {{ child.is_external ? 'target="_blank" '}}
                    >
                      {{ child.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

          </li>
        {% endfor %}   
      </ul>

    </div>
  {% endif %}
  <div class="search-button">
    <i class="far fa-search"></i>
  </div>

  <div class="hamburger-menu">
    <svg class="hamburger" width="30" height="30" viewBox="0 0 30 30">
      <path class="line line-top" d="M0,9h30"/>
      <path class="line line-center" d="M0,15h30"/>
      <path class="line line-bottom" d="M0,21h30"/>
    </svg>
  </div>

  <div class="navbar-button">
    <a href="{{ 'event/events'|page }}">
      {{ 'Calendar'|_ }}
    </a>
  </div>

</nav>