[sitePicker]

[section mainMenu]
handle = "Site\Menus"
identifier = "slug"
value = "top-menu"
==
{% set menuItems = mainMenu.items.toNested | filter(i => not i.is_hidden) %}

<nav class="navbar">

  <div class="logo">
    <a href="{{ app_url }}">
      <img src="{{ app_logo }}" alt="{{ app_name }}">
    </a>
  </div>

  <div class="custom-menu">

    <ul>
      {% for site in sitePicker.sites %}
        <li>
          <a href="{{ site.url }}" class="{{ this.site.code == site.code ? 'active' }}">
            {{ site.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>

  <div class="site-menu">
    <ul>
      {% for item in menuItems %}
      {#{d(item)}#}
        <li>
          <a href="{{ item.reference | link }}">
            {{ item.title }}
          </a>

          {% if item.children.count %}
            <ul class="dropdown-menu">
              {% for child in item.children | filter(i => not i.is_hidden) %}
                <li>
                  <a
                  class="
                    dropdown-item 
                    {{ link(child.reference).isActive ? 'active' }}                  
                  "
                  href="{{ child.reference|link }}"
                  {{ child.is_external ? 'target="_blank" '}}
                  >
                    {{ child.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

        </li>
      {% endfor %}   
    </ul>

  </div>

  <div class="search-button">
    <i class="far fa-search"></i>
  </div>

  <div class="hamburger-menu">
    <svg class="hamburger" width="30" height="30" viewBox="0 0 30 30">
      <path class="line line-top" d="M0,9h30"/>
      <path class="line line-center" d="M0,15h30"/>
      <path class="line line-bottom" d="M0,21h30"/>
    </svg>
  </div>

  <div class="navbar-button">
    <a href="membership.html">
      {{ 'Get a ticket'|_ }}
    </a>
  </div>

</nav>