<div class="parallax-container page-header">
    <div
        class="parallax-image-wrapper"
        {% if header.background %}
        data-scroll
        data-scroll-speed="{{ header.parallax_speed ?: 20 }}"
        data-scroll-position="top"
        {% endif %}
    >
        {% if header.background %}
        <div class="parallax-image" data-background="{{ header.background }}"></div>
        {% endif %}
    </div>
  {% if header.background_overlay %}
    <div
    class="
        {% if header.background_overlay == 'custom' %}
        filter-bg-overlay
        {% else %}
        filter-bg-overlay-{{ header.background_overlay }}
        {% endif %}
    "
    style="
        {% if header.background_overlay == 'custom' %}

        {% set overlay = header.custom_overlay %}

        {% if overlay.end_color %}
            background: linear-gradient({% if overlay.direction == 'horizontal' %}90deg{% else %}0deg{% endif %}, {{ overlay.start_color }} 0%, {{ overlay.end_color }} 100%);
        {% elseif header.custom_overlay.start_color %}
            background-color: {{ overlay.start_color }};
        {% endif %}
        {% endif %}
        opacity: {{ header.background_overlay_opacity ? header.background_overlay_opacity / 100 : '.5' }}
    "
    ></div>
  {% endif %}
  <div class="inner">
      {% if header.parallax_show %}
      <svg width="580" height="400" class="svg-morph">
          <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
      </svg>
      {% endif %}
    <h1>
      {{ header.title }}
    </h1>
    <p>
      {{ header.intro | raw }}
    </p>
  </div>
</div>

{% if header.fonts_color == 'light' %}
<style>
  .page-header .inner h1 {
      color: #fff;

  }
  .page-header .inner p {
      color: #fff;
      border-left: 3px solid #fff;
  }
</style>
{% endif %}
