
<form data-request="onRegister">
    <div class="form-group">
        <label for="userRegisterName">Name</label>
        <input name="name" type="text" class="form-control" id="userRegisterName" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="userRegisterEmail">Email</label>
        <input name="email" type="email" class="form-control" id="userRegisterEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="userRegisterPassword">Password</label>
        <input name="password" type="password" class="form-control" id="userRegisterPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="userRegisterPasswordConfirm">Confirm Password</label>
        <input name="password_confirmation" type="password" class="form-control" id="userRegisterPasswordConfirm" placeholder="Confirm Password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
