{% if box.is_enabled %}
  <div 
   {% if box.margin_top or box.margin_bottom %}
    class="
      {{ box.margin_top ? 'mt-' ~ box.margin_top }}
      {{ box.margin_bottom ? 'mb-' ~ box.margin_bottom }}
    "
    {% endif %}
  >
    <div 
      class="
        row
        {% if box.column_horizontal_alignment or box.column_vertical_alignment %}
          {% partial 'boxes/parts/_content-flex-align.htm' %}
        {% endif %}
      "
    >
      {% for button in box.buttons %}
        <div class="col-auto">
          {% partial 'boxes/parts/_button' box=button %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}