<div class="search-box">
  <div class="container">
    <div class="form">
        <h3>{{ 'Search event'|_}}</h3>
        <input type="search" placeholder="{{ 'What are you looking for?' |_ }}">
        <input type="submit" value="{{ 'Search'|_ }}">
    </div>
    <div class="search-events">
      <ul>
      <li>
          <h5><a href="#">Artemisia Gentileschi talk with Maria</a></h5>
          <small>15 August – 31 October 2020</small> </li>
      <li>
          <h5><a href="#">Artemisia Gentileschi talk with Maria</a></h5>
          <small>15 August – 31 October 2020</small> </li>
      <li>
          <h5><a href="#">Artemisia Gentileschi talk with Maria</a></h5>
          <small>15 August – 31 October 2020</small> </li>
      </ul>
    </div>
  </div>
</div>