{% if box.button_text %}
  <a
    class="
      button
      -{{ box.button_type }}
      {{ box.button_size != 'medium' ? '-' ~ box.button_size }}
      {{ box.button_style != 'standard' ? '-' ~ box.button_style }}
    "
    href="{{ box.button_link }}"
    {% if box.button_is_external %}
      target="_blank"
    {% endif %}
    {{ box.button_attributes }}
  >
    {#% if box.button_icon %}
      <span class="">
        <i class="fa {{ box.button_icon }}"></i>
      </span>
    {% endif %#}

    {% if box.button_style != 'standard' %}<span class="{{ box.button_style }}">{% endif %}
      {{ box.button_text | raw }}
    {% if box.button_style != 'standard' %}</span>{% endif %}

  </a>
{% endif %}
