{% if box.button_text %}
  <a
    class="
      custom-button
      -{{ box.button_type }}
      {#{ box.button_size != 'medium' ? 'btn-' ~ box.button_size }#}
    "
    href="{{ box.button_link }}"
    {% if box.button_is_external %}
      target="_blank"
    {% endif %}
    {{ box.button_attributes }}
  >
    {#% if box.button_icon %}
      <span class="">
        <i class="fa {{ box.button_icon }}"></i>
      </span>
    {% endif %#}

    {#<span class="">#}
      {{ box.button_text | raw }}
    {#</span>#}

  </a>
{% endif %}
