{#% set width = 600 %}
{% if box.picture_size == 'sm' %}
  {% set width = 100 %}
{% elseif box.picture_size == 'md' %}
  {% set width = 250 %}
{% elseif box.picture_size == 'lg' %}
  {% set width = 600 %}
{% elseif box.picture_size == 'custom' %}
  {% set width = box.picture_width %}
{% endif %#}
<figure
  data-scroll {#data-scroll-speed="1"#}
  class="
    image-group
    {#% if box.column_horizontal_alignment or box.column_vertical_alignment %}
      {% partial 'boxes/parts/_content-flex-align.htm' %}
    {% endif %#}
  "
>
  {% if box.picture_link %}
    <a
      class="image-group-link"
      href="{{ box.picture_link }}"
    >
    {% put closeLink %}</a>{% endput %}
  {% endif %}

    <img
      class="image-group-picture img-fluid"
      src="{{ box.picture | media }}"      
      alt="{{ box.caption ?: 'Image' }}"
      {{ box.picture_width ? 'width=' ~ box.picture_width }}
    >

  {% placeholder closeLink %}

  {% if box.caption %}
    <figcaption
      class="
        image-group-caption
        {{ box.caption_alignment != 'left' ? 'text-' ~ box.caption_alignment }}
      "
    >
      {{ box.caption | raw }}
    </figcaption>
  {% endif %}

</figure>

