##
url = "/blog"
layout = "default"
title = "Blog Homepage"

[collection blog]
handle = "Blog\Post"

[collection categories]
handle = "Blog\Category"

[global blogConfig]
handle = "Blog\Config"

[resources]
vars[activeNavLink] = 'blog'
==
{% set posts = blog.paginate(5) %}

{% set header = {
    'title': blogConfig.blog_name ?: 'Blog',
    'intro': blogConfig.about_this_blog,
    'background': blogConfig.blog_index_picture ? blogConfig.blog_index_picture | media : '',
    'background_overlay': blogConfig.background_overlay,
    'custom_overlay': blogConfig.custom_overlay,
    'background_overlay_opacity': blogConfig.background_overlay_opacity,
    'fonts_color': blogConfig.fonts_color
} %}

{% partial 'components/page-title' header=header %}

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% for post in posts %}
          {% partial 'blog/post-card' post=post bannerCss='banner-lg' %}
        {% endfor %}

        <nav class="blog-pagination" aria-label="Pagination">
          {{ pager(posts) }}
        </nav>
      </div>

      <div class="col-lg-4">
        <aside class="sidebar">
          {#<div class="widget">
            <h6 class="widget-title">
              {{ 'Search' |_ }}
            </h6>
            <form>
              <input type="search" placeholder="Type here to search">
              <input type="submit" value="Search">
            </form>
          </div>#}

          <div class="widget">
            <h6 class="widget-title">
              {{ 'Categories' |_ }}
            </h6>
            <ul class="categories">
              {% for category in categories %}
                <li>
                  <a href="#">
                    {{ category.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>