##
url = "/blog/post/:slug/:id"
layout = "default"
title = "Display a Blog Post"
meta_title = "{{ blog.title }} - Blog"

[section post]
handle = "Blog\Post"
identifier = "id"

[collection categories]
handle = "Blog\Category"

[resources]
vars[activeNavLink] = 'blog'
==
{% if post is empty %}
  {% do abort(404) %}
{% elseif post.slug and post.slug != this.param.slug %}
  {% do redirect(''|page({ slug: post.slug }), 301) %}
{% endif %}

{% set header = {
  'title': post.title,
  'intro': post.featured_text,
  'background': post.banner.path
} %}

{% partial 'components/page-title' header=header %}

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-post">
          {% if post.gallery.count %}
            <figure data-scroll data-scroll-speed="-1">
              <img src="{{ post.gallery[0].path }}" alt="{{ post.title }}">
            </figure>
          {% endif %}

          <div class="content-box">
            <small>
              {{ post.published_at_date|date('d M Y') }}
            </small>

            {% if post.content_group == 'regular_post' %}
              {{ post.content | content | raw }}
            {% elseif post.content_group == 'blocks_post' %}
              {{ post.boxes_content.render() | raw }}
            {% endif %}

            <ul class="pagination">
              <li class="page-item"> <a class="page-link" href="#">Prev Post</a> </li>
              <li class="page-item"><a class="page-link" href="#">Next Post</a></li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <aside class="sidebar">

          <div class="widget">
            <h6 class="widget-title">
              {{ 'Categories' |_ }}
            </h6>
            <ul class="categories">
              {% for category in categories %}
                <li>
                  <a href="#">
                    {{ category.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="widget">
            <h6 class="widget-title">
              {{ 'Gallery' |_ }}
            </h6>
            <ul class="widget-gallery">
              {% for image in post.gallery %}
                <li>
                  <a href="{{ image.path }}" data-fancybox>
                    <img src="{{ image.path }}" alt="{{ image.title }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
