<section class="content-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center">
            <figure><img src="images/title-shape.png" alt="Image"></figure>
            <h2>Frequently<br>
              asked questions</h2>
          </div>
        </div>
        <div class="col-lg-8">
          <dl class="accordion">
            {% for item in box.accordion %}
              <dt><a href="#">{{ item.title }}</a></dt>
              <dd>{{ item.text | raw }}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
  </section>