<form
  data-request="{{ __SELF__ }}::onFormSubmit"
  data-request-validate
>
  {{ form_token() }}

  {#<div id="{{ __SELF__ }}_forms_flash" class="errors"></div>#}
    <div class="inner position-relative mb-3">
        <select type="text" name="issue" placeholder="{{ 'Select a Issue' |_ }}">
            <option value=""> {{ 'Select a Issue' |_ }} </option>
            <option value="{{ 'General' |_ }}"> {{ 'General' |_ }} </option>
            <option value="{{ 'Booking' |_ }}"> {{ 'Booking' |_ }} </option>
            <option value="{{ 'Media' |_ }}"> {{ 'Media' |_ }} </option>
            <option value="{{ 'Other' |_ }}"> {{ 'Other' |_ }} </option>

        </select>
        <div data-validate-for="issue"></div>
    </div>

  <div class="inner position-relative mb-3">
    <input type="text" name="name" placeholder="{{ 'Complete Name' |_ }}">
    <div data-validate-for="name"></div>
  </div>
  <div class="inner position-relative mb-3">
    <input type="text" name="email" placeholder="{{ 'Your Email' |_ }}">
    <div data-validate-for="email"></div>
  </div>
  <div class="inner position-relative mb-3">
    <input type="text" name="phone" placeholder="{{ 'Phone Number' |_ }}">
    <div data-validate-for="phone"></div>
  </div>
  <div class="inner position-relative mb-3">
    <textarea id="commentContentTextarea" placeholder="{{ 'Your message' |_ }}" name="message"></textarea>
    <div data-validate-for="message"></div>
  </div>

  <button type="submit" class="button -primary">
    {{ 'Submit'|_ }}
  </button>

  <div class="privacy-agreement">
    <label class="position-relative">
      <div data-validate-for="consent"></div>
      <input type="checkbox" name="consent">
      <small>
        {{ 'I agree with the ' |_ }}
        <a href="{{ 'privacy' | boxesPage }}" target="_blank">
          {{ 'Privacy Policy' |_ }}
        </a>
      </small>
    </label>
  </div>

  {% put subscribeThankYou %}
  <div class="modal" tabindex="-1" id="contact-thankyou">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ 'Thank you!' |_ }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="{{ __SELF__ }}_forms_flash">
        </div>
        <div class="modal-footer">
          <a class="custom-button -primary" data-bs-dismiss="modal">
            {{ 'Close' |_ }}
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endput %}
  
</form>
