<div>
    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %}

    {#% if content %}
        <p>{{ content }}</p>
    {% endif %#}
    {% if swordbrosSettings.newsletter_thankyou %}
        {{ swordbrosSettings.newsletter_thankyou | raw }}
    {% else %}
        Translated thank-you message (to be filled in backend settings)
    {% endif %}

    {% if list %}
        <ul>
        {% for item in list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% if jscript %}
    <script>
        {% if errors %}
            var errors = JSON.parse('{{ errors|raw }}');
        {% endif %}
        {{ jscript|raw }}
    </script>
{% endif %}