<div class="col-md-6 mb-4">
  <div class="event-card">
    <div class="event-card-type">
      {{ event.event_zone.name }}
    </div>
    <div class="event-card-date">
      <span class="h4 event-card-day">
        {{ carbon(event.start).formatLocalized('%d.%m.%Y') }}
      </span>
      <span class="h4 event-card-day">  -</span>
      <span  class="h4 event-card-day">
        {{ carbon(event.end).formatLocalized('%d.%m.%Y') }}
      </span>
     {#<span class="event-card-year">
        <i class="fa fa-calendar-alt"></i>
        <span>{{ year }}</span>
      </span><br>
      <span class="event-card-time">
        <i class="fa fa-clock"></i>
        <span>{{ time }}</span>
      </span>
      <p class="event-card-venue">
      
      </p>#}
    </div>

    <div class="event-card-info">
      <div class="event-card-thumb">
        <a href="{{ event.url }}">
        <img src="{{ event.thumb.getThumb(510, 382, {'mode': 'crop'}) }}" alt="{{ event.title }}" class="img">
      </a>
      </div>
      <h3 class="h5">
        <a href="{{ event.url }}">
          {{ event.title }}
        </a>
      </h3>
        <p>
        {{ event.short | raw }}
      </p>
      <a href="{{ event.url }}" class="custom-link">
        {{ 'Continue reading' |_ }}
      </a>
      <br>
      <small class="event-card-category mb-4">{{ event.event_category.name }}</small>
    </div>
  </div>
</div>

