url = "/event/:id"
layout = "default"
title = "Event Detail"

[eventDetail]
==
{% if event is empty %}
  {% do abort(404) %}
{% endif %}

{% set breadcrumbs = {
  ('Home'|_): ('home'|boxesPage),
  ('Events'|_):('event/events'|page)
} %}

<section class="content-section event-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <ul class="breadcrumbs">
          {% for name, url in breadcrumbs %}
            <li>
              <a href="{{ url }}">
                {{ name  }}
              </a>
            </li>        
            /
          {% endfor %}
          {{ event.title }}
        </ul>

        <div class="side-content left">
          <small class="event-category">
            {{ event.event_category.name }}
          </small>
          <h1 class="h2">
            {{ event.title }}
          </h1>
          <p>
            {{ event.short | raw }}
          </p>
          <table>
            <tr>
              <td>{{ 'Start'|_}}: </td>
              <td>{{ carbon(event.start).formatLocalized('%d.%m.%Y') }}</td>
            </tr>
            <tr>
              <td>{{ 'End'|_}}:  </td>
              <td>{{ carbon(event.end).formatLocalized('%d.%m.%Y') }}</td>
            </tr>
            <tr>
              <td>{{ 'Event Category'|_ }}: </td>
              <td>{{ event.event_category.name }}</td>
            </tr>
            <tr>
              <td>{{ 'Venue Name'|_ }}: </td>
              <td>{{ event.event_zone.name }}</td>
            </tr>
          </table>
        </div>
     
        <div class="side-icon-list">
          <ul>
            <li>
              <figure>
                <img src="{{ 'assets/images/clock.png' | theme }}" alt="Opening times">
              </figure>
              <div class="content">
                <div class="h5">
                  {{ 'Opening times' |_ }}
                </div>
                <p>From 27 August <br> Thursday – Sunday: 11.00-19.00 </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="right-half" data-scroll data-scroll-speed="1">
          <div class="swiper eventSwiper2">
            <div class="swiper-wrapper">
              {% for slide in event.images %}
                <div class="swiper-slide">
                  <img src="{{ slide.getThumb(636, 477, {'mode': 'crop'}) }}" alt="{{ slide.title }}"/>
                </div>
              {% endfor %}
            </div>     
          </div>
          <div thumbsSlider="" class="swiper eventSwiper">
            <div class="swiper-wrapper">
              {% for slide in event.images %}
                <div class="swiper-slide">
                  <img src="{{ slide.getThumb(636, 477, {'mode': 'crop'}) }}" alt="{{ slide.title }}"/>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-section event-details">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="event-description">
          <h2 class="h3">
            {{ 'Event Details'|_ }}
          </h2>
          <p>
            <strong>Yaş sınırı:</strong> 18+ <br>
            <strong>Süre:</strong> 90 dakika
          </p>

           {{ event.description | raw }}

          <div><strong>Kapı Açılış:</strong> 20.30</div>
          <div><strong>Konser Başlangıç:</strong> 21.30</div>
        </div>
      </div>
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-lg">
      {% if event.booking_url %}
        <a class="custom-button -blue" href="{{ event.booking_url }}">
          {{ 'Book Now'|_}}
        </a>
      {% else %}
        {% partial 'event/booking-form' %}
      {% endif %}
    </div>
    <div class="card-divider"></div>
    <div class="card-lg">
        {% partial 'event/comment-list' %}
    </div>
  </div>
</section>


{% put scripts %}
<script>
    var swiper = new Swiper(".eventSwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".eventSwiper2", {
      loop: true,
      spaceBetween: 10,
      // direction: getDirection(),
      thumbs: {
        swiper: swiper,
      },
    });

</script>
{% endput %}

{% put styles %}
<style>
	.eventSwiper2 {
      height: 80%;
      width: 100%;
      overflow: hidden;
    }

    .eventSwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
      overflow: hidden;
    }

    .eventSwiper .swiper-slide {
      width: 25%;
      height: 100%;
    }

    .eventSwiper2 .swiper-slide-thumb-active {
      opacity: 1;
    }

    .event-section {
      padding-bottom: 0;
    }
    
    .event-details {
      padding-top: 0;
    }

    .event-description {
      display: block;
    }

    .event-description p {
      margin: 26px 0;
    }

    .event-section .event-category {
      border-radius: 0;
      background-color: #ddfa80;
    }

    .event-section tr td:first-child {
      text-transform: uppercase;
    }
</style>
{% endput %}
