url = "/event/example"
layout = "default"
title = "Event Detail"

[eventDetail]
==
{% if event is empty %}
{% do abort(404) %}
{% endif %}
<section class="content-section">
<article class="card card-post card-primary">
    <div class="card-body card-lg">
        <h1 class="card-title">{{ event.title }}</h1>
    </div>
    <div class="card-divider"></div>
    <div class="row">
        {% if event.thumb %}
        <div class="col-md-4">
            <img src="{{ mediaUrl }}/{{ event.thumb }}" class="img-thumbnail">
        </div>
        {% endif %}
        <div class="col-md-8">
            {{ event.description|raw }}
        </div>
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-lg">
        {% if event.booking_url %}
        <a class="btn btn-primary btn-pill" href="{{ event.booking_url }}"> Book Now </a>
        {% else %}
        {% partial 'event/booking-form' %}
        {% endif %}
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-lg">
        {% partial 'event/comment-list' %}
    </div>
</article>
</section>