url = "/event/:id"
layout = "default"
title = "Event Detail"

[eventDetail]
==
{% if event is empty %}
    {% do abort(404) %}
{% endif %}

<article class="card card-post card-primary">
    {% if event.thumb %}
        <div class="card-banner banner-lg" style="background-image:url('{{ mediaUrl  }}/{{ event.thumb }}')"></div>
    {% else %}
        <div class="card-banner banner-lg" style="background-image:url('{{ partial('site/helpers/random-stock-image') }}')"></div>
    {% endif %}

    <div class="card-body card-lg">
        <h1 class="card-title">
            {{ event.title }}
        </h1>
            {{ event.description|raw }}
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-lg">
        {% if event.booking_url %}
            <a class="btn btn-primary btn-pill" href="{{ event.booking_url }}"> Book Now </a>
        {% else %}
            {% partial 'event/booking-form' %}
        {% endif %}
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-lg">
        {% partial 'blog/comment-list' %}
    </div>
</article>