<section class="content-section">
    <div class="container">
    <div class="row g-0 align-items-center">
        <div class="col-lg-6">
        <div class="art-slider">
            <div class="titles">
            <h6>Art Collection</h6>
            <h2>History of <br>
                Barnes</h2>
            </div>
            <!-- end titles -->
            <div class="swiper-container art-slider-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <span>01</span>
                <h3>Venus <br>
                    de Milo</h3>
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"><span>02</span>
                <h3>Les Demoiselles <br>
                    d'Avignon</h3>
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"><span>03</span>
                <h3>Mona <br>
                    Lisa</h3>
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"><span>04</span>
                <h3>L'Arlesienne: <br>
                    Madame Ginoux</h3>
                </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"><span>05</span>
                <h3>Cuckoo <br>
                    Clocks</h3>
                </div>
                <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
            </div>
            <!-- end art-slider-content -->
        </div>
        <!-- end art-slider -->
        </div>
        <!-- end col-6 -->
        <div class="col-lg-6">
        <div class="art-slider" data-scroll data-scroll-speed="1">
            <div class="swiper-container art-slider-images">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="images/art-slide01.jpg" alt="Image"> </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"> <img src="images/art-slide02.jpg" alt="Image"> </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"> <img src="images/art-slide03.jpg" alt="Image"> </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"> <img src="images/art-slide04.jpg" alt="Image"> </div>
                <!-- end swiper-slide -->
                <div class="swiper-slide"> <img src="images/art-slide05.jpg" alt="Image"> </div>
                <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
            </div>
            <!-- end art-slider-images -->
        </div>
        <!-- end art-slider -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
    </div>
    <!-- end container -->
</section>